.feed-day-item{
    width: 100px;
    height: 160px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    cursor: pointer;
    margin: 5px;
}

.feed-day-item:hover{
    zoom: 105% !important;
    margin: 2.5px;
}

.feed-create-post{
    backdrop-filter: blur(4px);
}

.feed-create-post-short-btn:hover{
    background-color: #F2F2F2;
    border-radius: 10px;
}


.post-item-user-info h6{
    margin-top: 3px;
    margin-bottom: 0px;
}

.create-post-privacy-btn{
    padding: 0px 15px !important;
    background-color: rgb(230, 230, 230);
}