.with-out-header{
    background: #f0f2f569 !important;
    height: calc(100vh - 50px);
}

.side-bar {
    width: 16%;
    position: fixed;
    overflow-y: scroll;
}

.right-bar{
    width: 15%;
    position: fixed;
    overflow-y: scroll;
}

.homeLeft{
    width: 100% !important;
}

.home-left-item:hover{
    background-color: #fff;
}